/*    ----CONTENT LIST-----

      01- CLEARFIX
      02- TYPOGRAPHY
      03- PRE HEADER CONTENT (lists, tooltip, social icons)
      04- HEADER CSS + GRID (container, navigation, columns)
      05- FOOTER & COPYRIGHTS CSS 
      06- HOMEPAGE PORTFOLIO CAROUSEL, PORTFOLIO ITEM & BANNER LAYOUT
      07- BUTTONS
      08- LISTS
      09- DROPCAPS
      10- ALERTS 
      11- CONTACT FORM 
      12- PORTFOLIO LAYOUTS
      13- BLOG LAYOUT
      14- OTHER FEATURES LAYOUT (google maps,404 error style,pre style,blockquote style,team members,inner page intro...)
      15- DRUPAL STYLES OVERRIDE
*/
@import url(http://fonts.googleapis.com/css?family=Dosis:200,400,500,700);



/* ---------------------------------------------------------------------- */
/* 01-   CLEARFIX 
/* ---------------------------------------------------------------------- */
#logoSpin{margin-top:-30px;}
#logoSpin img{ 
	-moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;}
#logoSpin img:hover{  -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);}
.view-sponsors h2{display:none;}
#footer-bottom p{padding:0 40px;color:#777;}
#footer-bottom span{float:right;padding-right:40px;}
#footer-bottom span a{color:#444;}
#views-exposed-form-meet-tu-page #edit-tid .form-item{display:inline-block;width:75px;}
.sidebar .region-sidebar-second .block-imageblock .block-image .imageblock-image{margin-top:180px;}

.clear {clear: both; display: block; height: 0; overflow: hidden; visibility:hidden; width: 0;}

.clearfix:after {clear: both; content: ' '; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; width: 0;}

* html .clearfix,:first-child+html .clearfix {zoom: 1;}

iframe {border: none;}

/* ---------------------------------------------------------------------- */
/* 02-   TYPOGRAPHY 
/* ---------------------------------------------------------------------- */
body { background: #fff; color: #898989; font-size: 12px; font-family: 'Arial', 'Verdana', sans-serif; -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ 
-webkit-text-size-adjust: 100%; }

body.custom-background {background-image: url("../images/background.png"); background-repeat: no-repeat; background-position: top center; background-attachment: fixed;}

p,ul,ol,pre,code {margin-bottom: 1em;}

ol ol, ul ul { margin: 0 auto 0 auto; }

a, #page-wrapper a > * { color: #898989; text-decoration: none; -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
-moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
-ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
-o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out; }

a:hover, #page-wrapper a > *:hover,.sidebar .block a:hover { color: #9dcedf; }

.colored { color: #9dcedf; }

a.colored:hover { color: #9dcedf; text-decoration: underline; }

h1,h2,h3,h4,h5,h6 { font-weight: normal; font-variant: normal; white-space: normal; color: #898989; margin-bottom: 15px; font-family: 'Dosis',Arial,Verdana,serif; }

h1 { font-size: 34px; line-height: 36px; }

h2 { font-size: 26px; line-height: 34px; }

h3 { font-size: 24px; line-height: 32px; }

h4 { font-size: 18px; line-height: 24px; }

h5 { font-size: 16px; line-height: 20px; }

h6 { font-size: 16px; line-height: 17px; }

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a { color: #303031; font-size: 100%; }

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover { font-size: 100%; text-decoration: none; }

a h1:hover,a h2:hover,a h3:hover,a h4:hover,a h5:hover,a h6:hover { color: #9dcedf; }

.sidebar h2{ font-size: 18px; line-height: 24px; }

.node h2{ font-size: 24px; line-height: 32px; }

.text-align-center { text-align: center; }

.text-align-left { text-align: left; }

.text-align-right { text-align: right; }

.img-align-left { margin: 0px 10px 10px 0; float: left; }

img { max-width: 100%; height: auto; 
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* ---------------------------------------------------------------------- */
/* 03-   PRE HEADER CONTENT 
/* ---------------------------------------------------------------------- */
#pre-header { background: #9dcedf; float: left; width: 940px; padding: 0 40px 0 40px; margin: 0px 0 30px -40px; border-bottom: 1pt solid #d8d5cd; min-height: 50px; }

.pre-header { margin-bottom: 13px; }

.tipsy { font-size: 11px; position: absolute;  padding: 5px;  z-index: 100000; background-repeat: no-repeat; background-image: url("../images/tipsy.gif"); margin-top: 5px; opacity: 0.9; 
        filter: alpha(opacity=90); }

.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

.tipsy-arrow {  position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

/*-----------------------------------------------------------*/
/*-------------------- SOCIAL ICONS --------------------------*/
/*-----------------------------------------------------------*/
#social-icons { position: relative; padding: 10px 0 8px 0; font-size: 0;}

ul#social-links { z-index: 1; margin: 0px; list-style: none; float: right; }

ul#social-links li { display: inline-block; float: none; }

ul#social-links li { 
    display: inline-block; 
    font-size: 12px; 
    list-style: none; 
    width: 32px; 
    height: 32px; 
    background: #8dc1d3; 
    background: -moz-linear-gradient(top, #8dc1d3 0%, #67a7bd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8dc1d3), color-stop(100%,#67a7bd));
    background: -webkit-linear-gradient(top, #8dc1d3 0%,#67a7bd 100%);
    background: -o-linear-gradient(top, #8dc1d3 0%,#67a7bd 100%);
    background: -ms-linear-gradient(top, #8dc1d3 0%,#67a7bd 100%);
    background: linear-gradient(top, #8dc1d3 0%,#67a7bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dc1d3', endColorstr='#67a7bd',GradientType=0 );
    text-indent: -9999px; 
    border-radius: 2px; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    margin: 0 5px 0 0; 
    box-shadow: 0px 1px 1px #a7dcef,inset 0px 2px 5px #67a7bd; 
    -moz-box-shadow: 0px 1px 1px #a7dcef,inset 0px 2px 5px #67a7bd; 
    -webkit-box-shadow: 0px 1px 1px #a7dcef,inset 0px 2px 5px #67a7bd; 
}

ul#social-links li  a.facebook { background: url("../images/icons/facebook.png") 50% 50% no-repeat }

ul#social-links li  a.twitter { background: url("../images/icons/twitter.png") 50% 50% no-repeat }

ul#social-links li  a.google { background: url("../images/icons/google.png") 50% 50% no-repeat }

ul#social-links li  a.dribbble { background: url("../images/icons/dribbble.png") 50% 50% no-repeat }

ul#social-links li  a.vimeo { background: url("../images/icons/vimeo.png") 50% 50% no-repeat }

ul#social-links li  a.skype { background: url("../images/icons/skype.png") 50% 50% no-repeat }

ul#social-links li  a.rss { background: url("../images/icons/rss.png") 50% 50% no-repeat }

ul#social-links li  a.linkedin { background: url("../images/icons/linkedin.png") 50% 50% no-repeat }

ul#social-links li  a.pinterest { background: url("../images/icons/pinterest.png") 50% 50% no-repeat}

ul#social-links > li.facebook-link:hover {
    display: inline-block;
    font-size: 12px;
    width: 32px;
    height: 32px;
    background: #415b92;
    background: -moz-linear-gradient(top, #415b92 0%, #33487b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#415b92), color-stop(100%,#33487b));
    background: -webkit-linear-gradient(top, #415b92 0%,#33487b 100%);
    background: -o-linear-gradient(top, #415b92 0%,#33487b 100%);
    background: -ms-linear-gradient(top, #415b92 0%,#33487b 100%);
    background: linear-gradient(top, #415b92 0%,#33487b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#415b92', endColorstr='#33487b',GradientType=0 );
    text-indent: -9999px;
    box-shadow: 0px 1px 1px #2a4782,inset 0px 2px 5px #4a67a0;
    -moz-box-shadow: 0px 1px 1px #2a4782,inset 0px 2px 5px #4a67a0;
    -webkit-box-shadow: 0px 1px 1px #2a4782,inset 0px 2px 5px #4a67a0;
}

ul#social-links > li.twitter-link:hover {
    display: inline-block;
    font-size: 12px;
    width: 32px;
    height: 32px;
    background: #aad5e3;
    background: -moz-linear-gradient(top, #aad5e3 0%, #90c7db 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aad5e3), color-stop(100%,#90c7db));
    background: -webkit-linear-gradient(top, #aad5e3 0%,#90c7db 100%);
    background: -o-linear-gradient(top, #aad5e3 0%,#90c7db 100%);
    background: -ms-linear-gradient(top, #aad5e3 0%,#90c7db 100%);
    background: linear-gradient(top, #aad5e3 0%,#90c7db 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad5e3', endColorstr='#90c7db',GradientType=0 );
    text-indent: -9999px;
    box-shadow: 0px 1px 1px #6cb6cf,inset 0px 2px 5px #7fc9e2;
    -moz-box-shadow: 0px 1px 1px #6cb6cf,inset 0px 2px 5px #7fc9e2;
    -webkit-box-shadow: 0px 1px 1px #6cb6cf,inset 0px 2px 5px #7fc9e2;
}

ul#social-links > li.google-link:hover {
    display: inline-block;
    font-size: 12px;
    width: 32px;
    height: 32px;
    background: #f54a35;
    background: -moz-linear-gradient(top, #f54a35 0%, #c83e2d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f54a35), color-stop(100%,#c83e2d));
    background: -webkit-linear-gradient(top, #f54a35 0%,#c83e2d 100%);
    background: -o-linear-gradient(top, #f54a35 0%,#c83e2d 100%);
    background: -ms-linear-gradient(top, #f54a35 0%,#c83e2d 100%);
    background: linear-gradient(top, #f54a35 0%,#c83e2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f54a35', endColorstr='#c83e2d',GradientType=0 );
    text-indent: -9999px;
    box-shadow: 0px 1px 1px #bf3928,inset 0px 2px 5px #ff6957;
    -moz-box-shadow: 0px 1px 1px #bf3928,inset 0px 2px 5px #ff6957;
    -webkit-box-shadow: 0px 1px 1px #bf3928,inset 0px 2px 5px #ff6957;
}

ul#social-links > li.facebook-link:hover {
    display: inline-block;
    font-size: 12px;
    width: 32px;
    height: 32px;
    background: #415b92;
    background: -moz-linear-gradient(top, #415b92 0%, #33487b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#415b92), color-stop(100%,#33487b));
    background: -webkit-linear-gradient(top, #415b92 0%,#33487b 100%);
    background: -o-linear-gradient(top, #415b92 0%,#33487b 100%);
    background: -ms-linear-gradient(top, #415b92 0%,#33487b 100%);
    background: linear-gradient(top, #415b92 0%,#33487b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#415b92', endColorstr='#33487b',GradientType=0 );
    text-indent: -9999px;
    box-shadow: 0px 1px 1px #2a4782,inset 0px 2px 5px #4a67a0;
    -moz-box-shadow: 0px 1px 1px #2a4782,inset 0px 2px 5px #4a67a0;
    -webkit-box-shadow: 0px 1px 1px #2a4782,inset 0px 2px 5px #4a67a0;
}

ul#social-links > li.dribbble-link:hover {
    display: inline-block;
    font-size: 12px;
    width: 32px;
    height: 32px;
    background: #fd83af;
    background: -moz-linear-gradient(top, #fd83af 0%, #e46191 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd83af), color-stop(100%,#e46191));
    background: -webkit-linear-gradient(top, #fd83af 0%,#e46191 100%);
    background: -o-linear-gradient(top, #fd83af 0%,#e46191 100%);
    background: -ms-linear-gradient(top, #fd83af 0%,#e46191 100%);
    background: linear-gradient(top, #fd83af 0%,#e46191 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd83af', endColorstr='#e46191',GradientType=0 );
    text-indent: -9999px;
    box-shadow: 0px 1px 1px #da447c,inset 0px 2px 5px #fc97bb;
    -moz-box-shadow: 0px 1px 1px #da447c,inset 0px 2px 5px #fc97bb;
    -webkit-box-shadow: 0px 1px 1px #da447c,inset 0px 2px 5px #fc97bb;
}

ul#social-links > li.vimeo-link:hover {
    display: inline-block;
    font-size: 12px;
    width: 32px;
    height: 32px;
    background: #1ab7ea;
    background: -moz-linear-gradient(top, #1ab7ea 0%, #0a9ece 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1ab7ea), color-stop(100%,#0a9ece));
    background: -webkit-linear-gradient(top, #1ab7ea 0%,#0a9ece 100%);
    background: -o-linear-gradient(top, #1ab7ea 0%,#0a9ece 100%);
    background: -ms-linear-gradient(top, #1ab7ea 0%,#0a9ece 100%);
    background: linear-gradient(top, #1ab7ea 0%,#0a9ece 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ab7ea', endColorstr='#0a9ece',GradientType=0 );
    text-indent: -9999px;
    box-shadow: 0px 1px 1px #0b9ac8,inset 0px 2px 5px #31c6f6;
    -moz-box-shadow: 0px 1px 1px #0b9ac8,inset 0px 2px 5px #31c6f6;
    -webkit-box-shadow: 0px 1px 1px #0b9ac8,inset 0px 2px 5px #31c6f6;
}

ul#social-links > li.skype-link:hover {
    display: inline-block;
    font-size: 12px;
    width: 32px;
    height: 32px;
    background: #56cbf7;
    background: -moz-linear-gradient(top, #56cbf7 0%, #09b2f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56cbf7), color-stop(100%,#09b2f1));
    background: -webkit-linear-gradient(top, #56cbf7 0%,#09b2f1 100%);
    background: -o-linear-gradient(top, #56cbf7 0%,#09b2f1 100%);
    background: -ms-linear-gradient(top, #56cbf7 0%,#09b2f1 100%);
    background: linear-gradient(top, #56cbf7 0%,#09b2f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56cbf7', endColorstr='#09b2f1',GradientType=0 );
    text-indent: -9999px;
    box-shadow: 0px 1px 1px #0281ae,inset 0px 2px 5px #b5ebff;
    -moz-box-shadow: 0px 1px 1px #0281ae,inset 0px 2px 5px #b5ebff;
    -webkit-box-shadow: 0px 1px 1px #0281ae,inset 0px 2px 5px #b5ebff;
}

ul#social-links li  a {width: 32px; height: 32px; display: block; }

ul#social-links > li.rss-link:hover {
    display: inline-block;
    font-size: 12px;
    width: 32px;
    height: 32px;
    background: #ff8500;
    background: -moz-linear-gradient(top, #ff8500 0%, #ff6a00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8500), color-stop(100%,#ff6a00));
    background: -webkit-linear-gradient(top, #ff8500 0%,#ff6a00 100%);
    background: -o-linear-gradient(top, #ff8500 0%,#ff6a00 100%);
    background: -ms-linear-gradient(top, #ff8500 0%,#ff6a00 100%);
    background: linear-gradient(top, #ff8500 0%,#ff6a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8500', endColorstr='#ff6a00',GradientType=0 );
    text-indent: -9999px;
    box-shadow: 0px 1px 1px #df5d00,inset 0px 2px 5px #ffb140;
    -moz-box-shadow: 0px 1px 1px #df5d00,inset 0px 2px 5px #ffb140;
    -webkit-box-shadow: 0px 1px 1px #df5d00,inset 0px 2px 5px #ffb140;
}

ul#social-links > li.linkedin-link:hover {
    display: inline-block;
    font-size: 12px;
    width: 32px;
    height: 32px;
    background: #007fc5;
    background: -moz-linear-gradient(top, #007fc5 0%, #0061b6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007fc5), color-stop(100%,#0061b6));
    background: -webkit-linear-gradient(top, #007fc5 0%,#0061b6 100%);
    background: -o-linear-gradient(top, #007fc5 0%,#0061b6 100%);
    background: -ms-linear-gradient(top, #007fc5 0%,#0061b6 100%);
    background: linear-gradient(top, #007fc5 0%,#0061b6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fc5', endColorstr='#0061b6',GradientType=0 );
    text-indent: -9999px;
    box-shadow: 0px 1px 1px #004d90,inset 0px 2px 5px #16a7e8;
    -moz-box-shadow: 0px 1px 1px #004d90,inset 0px 2px 5px #16a7e8;
    -webkit-box-shadow: 0px 1px 1px #004d90,inset 0px 2px 5px #16a7e8;
}

ul#social-links > li.pinterest-link:hover {
    display: inline-block;
    font-size: 12px;
    width: 32px;
    height: 32px;
    background: #e63037;
    background: -moz-linear-gradient(top, #e63037 0%, #bf1018 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e63037), color-stop(100%,#bf1018));
    background: -webkit-linear-gradient(top, #e63037 0%,#bf1018 100%);
    background: -o-linear-gradient(top, #e63037 0%,#bf1018 100%);
    background: -ms-linear-gradient(top, #e63037 0%,#bf1018 100%);
    background: linear-gradient(top, #e63037 0%,#bf1018 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63037', endColorstr='#bf1018',GradientType=0 );
    text-indent: -9999px;
    box-shadow: 0px 1px 1px #ae0d13,inset 0px 2px 5px #fc545b;
    -moz-box-shadow: 0px 1px 1px #ae0d13,inset 0px 2px 5px #fc545b;
    -webkit-box-shadow: 0px 1px 1px #ae0d13,inset 0px 2px 5px #fc545b;
}
/* ---------------------------------------------------------------------- */
/* 04-   HEADER CSS 
/* ---------------------------------------------------------------------- */

/* -------------------------------------------------- */
/* HEADER,CONTAINER, RESPONSIVE NAVIGATION
/* -------------------------------------------------- */
#page { height: auto; width: 1020px; background: #FFF; -webkit-box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.20); -moz-box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.20);
        box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.20); padding: 0px; margin: 50px auto 100px; }

#pre-header .content a:hover { text-decoration: underline; }

#pre-header h2 { color: #fff; text-shadow:0px 1px #81BCD1; }

#pre-header ul.menu li{ display: inline-block; margin: 0; padding: 0; }  

#pre-header ul.menu li a{ font-style: normal; padding: 2px 16px 2px 12px; text-decoration: none; color: #fff; text-shadow:0px 1px #81BCD1; border-right: 1pt solid #a8dcee; }

#pre-header ul.menu li.first a, #pre-header ul.menu li:first-child a{ padding-left:0 }

#pre-header ul.menu li a:hover{ text-decoration: underline; }        

#pre-header ul.menu li.last a, #pre-header ul.menu li:last-child a { border:none; }

#pre-header ul.menu ul.menu, #pre-header ul.menu ul{ display:none; }

#header { height: 68px; padding: 0px 0 20px 0; float: left; width: 100%; }

.front #header {border-bottom: 1pt solid #D8D5CD;}

#navigation-wrapper { float: right; }

#breadcrumb { margin: 30px 0 20px 0; }

#content { padding-bottom: 30px; font-size: 14px; margin-top:30px; }

.not-front #content { margin-top:0px; }

.front #content{ margin-top: 0px; }

#header-left { float: left; }

h1#site-name{ font-size: 18px; margin:0 0 12px 0; line-height: 27px;}

h2#site-slogan{ color: #dbdbdb; margin:0 0 16px 0; font-size: 16px; line-height: 16px; }

.not-front #site-slogan { display: none; }

#tagline { margin: 0; white-space: nowrap; }

#mm0 { display: none; width: 100%; padding: 6px; font: normal normal 12px/1em 'Open Sans', Arial, Tahoma, sans-serif; border: 1px solid #ccc; color: #666; }

.block-superfish select { width: 100%; padding: 6px; font: normal normal 12px/1em 'Open Sans', Arial, Tahoma, sans-serif; border: 1px solid #ccc; color: #666; }

/* -------------------------------------------------- */
/* Columns
/* -------------------------------------------------- */
.container { margin: 0 auto; position: relative; width: 940px; }

.one-half,.one-third,.two-third,.one-fourth,.three-fourth,.one-column { float: left; margin-right: 20px; margin-bottom: 20px; }

.one-half.last,.one-third.last,.two-third.last,.one-fourth.last,.three-fourth.last, .one-fourth.widget-4, .one-fourth.widget-8, .one-fourth.widget-12 { margin-right: 0px; }

.one-half { width: 460px; }

.one-third { width: 300px; }

.two-third { width: 620px; }

.one-fourth { width: 220px; }

.three-fourth { width: 700px; }

.horizontal-line { width: 100%; margin: 30px 0; float: left; border-top: 1px solid #e1e1e1; }

.one-fourth.widget-1, .one-fourth.widget-5 , .one-fourth.widget-9 { clear: both; }

/* -------------------------------------------------- */
/* MAVIGATION
/* -------------------------------------------------- */
.downarrowclass { position: absolute; top: 53px; right: 5px; }

.rightarrowclass { position: absolute; top: 10px; right: 10px; }

#main-navigation li.last { clear:none; }

#main-navigation > ul.menu, #main-navigation .content > ul.menu, #main-navigation ul.sf-menu { margin: -30px 0 0 0px; clear:both; }

#main-navigation > ul.menu:after, #main-navigation .content > ul.menu:after, #main-navigation ul.sf-menu:after, #main-navigation .content:after { content: "."; display: block; clear: both; 
visibility: hidden; line-height: 0; height: 0; }    

#main-navigation ul.menu li, #main-navigation ul.sf-menu li { list-style: none; float: left; position: relative }

#main-navigation ul.sf-menu li { background: transparent; }

#main-navigation ul.menu li a, #main-navigation ul.sf-menu li a { color: #898989; font-family: 'Dosis', 'Verdana', sans-serif; font-size: 16px; font-weight: normal; padding: 47px 12px 50px 12px;
margin: 0 0 10px 0; position: relative; text-align: center; text-transform: uppercase; float: left; overflow: hidden; line-height: 20px; }

#main-navigation ul.sf-menu li a { border: none; }

#main-navigation ul.menu li a:hover,
#main-navigation > ul.menu > li > a.active,
#main-navigation ul.sf-menu li a:hover,
#main-navigation ul.sf-menu > li > a.active,
#main-navigation .content > ul.menu > li > a.active { color: #9dcedf; background: #f8f8f8; border-bottom: 1pt solid #9dcedf; }

#main-navigation ul.menu ul li a, #main-navigation ul.sf-menu ul li a { display: block; float: none; }


#main-navigation ul.menu ul, #main-navigation ul.sf-menu ul { background: url("../images/menu-drop-bg.png") 20% 0% no-repeat; padding-top: 8px; display: none; left: 0; margin-top: -18px;
position: absolute; width: 175px; z-index: 99; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

#main-navigation ul.sf-menu ul { padding-top: 8px!important; }

#main-navigation ul.menu ul ul, #main-navigation ul.sf-menu ul ul { background: url("../images/menu-drop-bg-2.png") 0% 25px no-repeat; padding-left: 8px; display: none; left: 0;
position: absolute; width: 175px; z-index: 99; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; padding-top:18px; }

#main-navigation ul.sf-menu ul ul { background: url("../images/menu-drop-bg-2.png") 0% 16px no-repeat; }

#main-navigation ul.menu ul ul  ul, #main-navigation ul.sf-menu ul ul  ul { background: url("../images/menu-drop-bg-2.png") 0% 25px no-repeat; padding-left: 8px; display: none; margin-left: 10px;
left: 0; position: absolute; width: 175px; z-index: 99; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

#main-navigation ul.menu li:hover>ul { display: block; visibility: visible; top: 100%; }

#main-navigation ul.menu ul li:hover>ul { display: block; visibility: visible; top: 0%; left: 100%; }

#main-navigation ul.menu ul  li,
#main-navigation ul.menu ul  li a,
#main-navigation ul.sf-menu ul  li,
#main-navigation ul.sf-menu ul  li a { padding: 0px 0 0 0px; margin: 0px; color: #FFF; background: #615951; font-family: "Arial", "Verdana"; }

#main-navigation ul.menu ul  li { }

#main-navigation ul.menu ul li, #main-navigation ul.sf-menu ul li { float: none; }

#main-navigation ul.menu li, #main-navigation ul.sf-menu li { padding: 0; margin: 0 0 0 20px; }

#main-navigation ul.menu ul a, #main-navigation ul.sf-menu ul a { border: 0; color: #fff; display: block; font-size: 11px; font-weight: 400; padding: 5px 10px !important; text-align: left;
margin: 0; text-transform: none; }

#main-navigation ul.menu ul a:hover,
#main-navigation ul.menu ul .hover > a,
#main-navigation ul.sf-menu ul a:hover,
#main-navigation ul.sf-menu ul .hover > a,
#main-navigation .content > ul.menu li li a.active,
#main-navigation > ul.menu li li a.active,
#main-navigation ul.sf-menu li li a.active  { background: #9dcedf; color: #fff !important; border: 0 !important; }

#main-navigation ul.menu li ul, #main-navigation ul.sf-menu li ul { position: absolute; left: 0px; display: block; visibility: hidden; margin-left: 0px; top: 0; }

.downarrowclass,
.rightarrowclass { width: 8px; height: 8px; background: url("../images/plus.png") top left no-repeat; display: inline-block; position: absolute; right: 5px; top: 53px }

#main-navigation ul.sf-menu li ul{ top: 100%; }

#main-navigation ul.sf-menu ul li ul{ left: 100%; top:0; }

#main-navigation ul.sf-menu ul li ul{ left: 100%; top:0; margin-left: 0px; margin-top: -7px; padding-left: 8px!important; }

#main-navigation ul.sf-menu > li > a .sf-sub-indicator { background: url("../images/plus.png"); width: 8px; height: 8px; background-position:0px 0px; right: 5px; top: 53px; }

#main-navigation .sf-menu a.sf-with-ul{ padding-right: 23px; }

#main-content-inside h1{margin-top:60px;color:white;background-color:#666;padding:10px;font-weight:bold;}
#main-content-inside .tabs{margin-top:30px;}
.rightarrowclass { background-image: url("../images/plus-white.png"); }

ul.menu ul { margin:0; }    

/* ---------------------------------------------------------------------- */
/* 05-   FOOTER & COPYRIGHTS CSS
/* ---------------------------------------------------------------------- */
#footer { width: 1020px; padding:0; margin: 0px; height: auto; background: #222222; }

#footer .footer-area { padding: 30px 0px 0; }

#footer h4, #footer h2 { color: #9dcedf; font-size: 18px; line-height: 24px; }

#footer-bottom { width: 1020px; padding: 30px 0px; margin-left: 0px; background: #111; float: none; }

#footer-bottom .right { float: right; }

#footer-bottom a { color: #9dcedf; }

#footer-bottom .content a:hover { text-decoration: underline; }

#footer-bottom ul.menu.secondary-menu { margin:0 0 1.5em; }

#footer-bottom ul.menu li{ display: inline-block; margin: 0; padding: 0; }  

#footer-bottom ul.menu li a{ font-style: normal; padding: 2px 16px 2px 12px; text-decoration: none; color: #333; border-right: 1pt solid #333; }

#footer-bottom ul.menu li.first a, #footer-bottom ul.menu li:first-child a{ padding-left:0 }

#footer-bottom ul.menu li a:hover{ color: #9DCEDF; }        

#footer-bottom ul.menu li.last a, #footer-bottom ul.menu li:last-child a { border:none; }

#footer-bottom ul.menu ul.menu, #footer-bottom ul.menu ul{ display:none; }

.backtotop { float: right; text-align: center; background: #2e2e2e; height: 20px; width: 20px; border-radius: 2px; -moz-border-radius: 2px; webkit-border-radius: 2px; margin-right: -10px; 
margin-left: 10px; }

.backtotop:hover { background: #222222; }

/* ---------------------------------------------------------------------- */
/* FOOTER LIST
/* ---------------------------------------------------------------------- */
#footer .footer-area .content ul { list-style-type: none;  list-style-position: outside; width: 100%; }

#footer .footer-area .content li { color: #898989; display: block; padding: 5px 0; border-bottom: 1pt solid #333; }

#footer .footer-area .content li a { color: #aaa; }

#footer .footer-area .content li a:hover { color: #9dcedf; text-decoration: underline; }

#footer .footer-area .content li:first-child { border-top: 1pt solid #333; }

#footer .footer-area .content li:last-child { border-bottom: none; }

#footer .footer-area .content ul ul { margin: 5px 0 0 0px; }

 /* --------------------------------------------------------------------- */
/* NEWSLETTER FORM
/* ---------------------------------------------------------------------- */

#footer-form  form {margin-bottom: 0px; }

#footer-form fieldset { margin-bottom: 20px; }

#footer-form label,
#footer-form legend { display: block; font-weight: bold; font-size: 13px; }

#footer-form input[type="checkbox"] { display: inline;} 

#footer-form label span,
#footer-form legend span { font-weight: normal; font-size: 13px; color: #444; }

#footer-form input[type="text"],
#footer-form input[type="password"],
#footer-form input[type="email"],
#footer-form textarea,
#footer-form select { padding: 7px 10px; outline: none; overflow: hidden; font-size: 11px; color: #898989; margin: 0; width: 200px; max-width: 100%; display: block; margin-bottom: 10px;
background: #111111; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow: 0px 1px 1px #333,inset 0px 2px 2px #0f0f0f; 
-moz-box-shadow: 0px 1px 1px #333,inset 0px 2px 2px #0f0f0f; -webkit-box-shadow: 0px 1px 1px #333,inset 0px 2px 2px #0f0f0f; resize: none; }

#footer-form select { padding: 0; }

#footer-form input[type="text"]:focus,
#footer-form input[type="password"]:focus,
#footer-form input[type="email"]:focus,
#footer-form textarea:focus { color: #555; }

#footer-form textarea { min-height: 100px; }

#footer-form select { width: 300px; }
/* ---------------------------------------------------------------------- */
/* FOOTER TWITTER FIELD
/* ---------------------------------------------------------------------- */
#footer .tweet { width: auto; }

#footer .tweet ul { list-style-type: none; padding: 0; margin: 0px; }

#footer .tweet li .tweet_text,
.block .tweet li .tweet_text { float: left; margin-bottom: 10px; }

#footer .tweet a,
.block .tweet a { text-transform: none; display: inline; padding: 0px; font-style: italic; font: 12px Arial,Verdana, sans-serif; }

#footer .tweet .tweet_time a,
.block .tweet .tweet_time a { text-transform: none; display: block; font-style: italic; font-size: 12px; padding: 10px 0 0 25px; color: #9dcedf; 
background: url("../images/twitter-feed.png") left bottom  no-repeat; }

#footer .tweet .tweet_time a:hover,
.block .tweet .tweet_time a :hover { text-decoration: underline; }

/* ---------------------------------------------------------------------- */
/* FOOTER CONTACT INFO
/* ---------------------------------------------------------------------- */
.contact-info { }

.contact-info span { padding: 5px 0px 5px 30px; width: 100%; display: block; font-style: normal; }

.contact-info span.address { background: url("../images/icons/adress.png") left no-repeat; }

.contact-info span.phone { background: url("../images/icons/phone-number.png") left no-repeat; }

.contact-info span.email { background: url("../images/icons/mail-adress.png") left no-repeat; }
 
/* ---------------------------------------------------------------------- */
/* 06- HOMEPAGE PORTFOLIO CAROUSEL, PORTFOLIO ITEM & BANNER LAYOUT
/* ---------------------------------------------------------------------- */
ul#projects-carousel { overflow: hidden; position: relative; list-style: none; margin: 0; padding: 25px 0 0 0; display: none; }

ul#projects-carousel li { float: left; background: #f8f9f9; width: 220px; height: auto; margin-right: 20px; padding: 0; }

ul#projects-carousel li .item-content { background: #615951; float: left; width: 220px; text-align: center; padding: 0px 0 15px 0; height: auto; }

.description { padding: 15px; font-size: 12px; height: 50px; }

ul#projects-carousel li .item-content:hover { background: #9dcedf; }

ul#projects-carousel li .item-content p { margin: 0; padding: 0; font-weight: 800; color: #FFF; }

ul#projects-carousel li .item-content p a { margin: 0; padding: 0; font-weight: 800; color: #FFF; }

ul#projects-carousel li .item-content span { font-style: italic; color: #FFF; }

ul#projects-carousel li  img { width: 100%; height: auto; padding: 0; margin: 0; }

.jcarousel-container { margin: 0px -20px 0px 0; max-width: 100%; padding: 0px 0 0  0; }

.jcarousel-clip { overflow: hidden; width: 100%; }

.jcarousel-item { margin: 0 0px 30px 0; width: 220px; }

.jcarousel-next,
.jcarousel-prev { background: #9dcedf url("../images/carousel-prev-next.png") 105% 50% no-repeat; cursor: pointer; height: 20px; position: absolute; right: 0; bottom: -25px; width: 20px; }

.jcarousel-prev { background: #9dcedf url("../images/carousel-prev-next.png") -5% 50% no-repeat; right: 25px; }

.jcarousel-next:hover,
.jcarousel-next:focus,
.jcarousel-next:active,
.jcarousel-prev:hover,
.jcarousel-prev:focus,
.jcarousel-prev:active { background-color: #9dcedf; }

.jcarousel-clip { overflow: hidden; width: 100%; }

.jcarousel-next-disabled,
.jcarousel-next-disabled:hover,
.jcarousel-next-disabled:focus,
.jcarousel-next-disabled:active,
.jcarousel-prev-disabled,
.jcarousel-prev-disabled:hover,
.jcarousel-prev-disabled:focus,
.jcarousel-prev-disabled:active { background-color: #615951; cursor: auto; box-shadow: inset0 0 7px #46403a; -moz-box-shadow: inset 0 0 7px #46403a; -webkit-box-shadow: inset 0 0 7px #46403a; }

.portfolio-item-hover-content,
.proj-img1 { position: relative; overflow: hidden; }

.portfolio-item-hover-content a.zoom { background: url("../images/zoom-plus.png") no-repeat; margin-left: -15px; display: inline-block; width: 52px; height: 52px; position: absolute; top: 0px;
left: 45%; margin-top: -55px; z-index: 10; text-indent: -9999px; }

.portfolio-item-hover-content { line-height: 0; display: block; background: transparent; z-index: 99; }

.portfolio-item-holder { position: relative; overflow: hidden; height: auto; margin-bottom: 0px; }

.portfolio-item-hover-content,
.proj-img1 { position: relative; overflow: hidden; }

.portfolio-item-hover-content .hover-options { display: block; font-style: normal; position: absolute; width: 100%; height: 100%; z-index: 9; top: 0; left: 0; 
background: #fff url("../images/portfolio-hover-bg.png") repeat; opacity: 0; filter: alpha(opacity:0); cursor: pointer; }

#banner-inside, #slider-container { border-bottom: 1px solid #E1E1E1; margin-bottom: 30px; padding-bottom: 35px; }

#banner-inside #slider-container { border-bottom: none; margin-bottom: 0; padding-bottom: 0; }

.flexslider.loading { min-height: 350px; background: url('../images/loading.gif') no-repeat center center; }

.loading { background: url('../images/loading.gif') no-repeat center center; }

/* ---------------------------------------------------------------------- */
/* 07- BUTTONS
/* ---------------------------------------------------------------------- */ 
.button { cursor: pointer; font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: #ffffff; text-decoration: none!important; border: none; position: relative; }

.button:active { text-decoration: none; top: 1px; }

.button.round { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

.button.cube { border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; }

.button.small { padding: 7px 12px; }

.button.big { padding: 8px 20px; }

.button.huge { padding: 15px 30px; font-size: 18px; color: #FFF!important; font-weight: bold; }

.button.darkgreen {
    background: #59a839;
    background: -moz-linear-gradient(top, #59a839 0%, #3e8720 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59a839), color-stop(100%,#3e8720));
    background: -webkit-linear-gradient(top, #59a839 0%,#3e8720 100%);
    background: -o-linear-gradient(top, #59a839 0%,#3e8720 100%);
    background: -ms-linear-gradient(top, #59a839 0%,#3e8720 100%);
    background: linear-gradient(top, #59a839 0%,#3e8720 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59a839', endColorstr='#3e8720',GradientType=0 );
    color: #FFF;
    text-shadow: 0px 1px #1f6b00;
    -webkit-box-shadow: inset 0 0 7px #6fc84c,0px 3px #307215;
    -moz-box-shadow: inset 0 0 7px #6fc84c,0px 3px #307215;
    box-shadow: inset 0 0 7px #6fc84c,0px 3px #307215;
}

.button.darkgreen:hover { -webkit-box-shadow: inset 0 0 10px #77e74a,0px 3px #307215; -moz-box-shadow: inset 0 0 10px #77e74a,0px 3px #307215; box-shadow: inset 0 0 10px #77e74a,0px 3px #307215; }

.button.darkgreen:active { -webkit-box-shadow: inset 0 0 15px #195700,0px 1px #307215; -moz-box-shadow: inset 0 0 15px #195700,0px 1px #307215; box-shadow: inset 0 0 15px #195700,0px 1px #307215; }

/* ---------------------------------------------------------------------- */
/* 08-   LISTS 
/* ---------------------------------------------------------------------- */
.simple-list-2,
.hentry ul { margin-left: 20px; list-style: disc outside; } 

.hentry ol { list-style: decimal outside; margin-left: 20px; }

.simple-list-2 li,
.hentry li { }

.hentry ul,
.simple-list-2 li a { color: #898989; }

.simple-list-2 li a:hover { color: #9dcedf; text-decoration: underline; }

ul.center-list { text-align: center; }

ul.center-list li { text-align: center; display: inline; }

ul.center-list li a { text-align: center; padding: 5px 5px; }

ul.center-list li a:hover { text-decoration: underline; }

ul.dotted-list li { border-bottom: 1px dotted #bdbdbd; }

ul.dotted-list li { padding: 0px 0 5px 20px; }

.arrow li,.arrow-2 li,.circle li,.check li,.check-2 li,.star li,.plus li,.dash li { list-style: none; margin: 0; }

ul.dotted-list li { padding: 5px 0 5px 20px; border-bottom: 1px dotted #bdbdbd; }

/* ---------------------------------------------------------------------- */
/* 09-   DROPCAPS 
/* ---------------------------------------------------------------------- */
.dropcapsimple, .dropcapsquare, .dropcapfancy { float: left;  display: inline-block; margin: 0 10px 0 0; text-align: center; }

.dropcapsimple { font-size: 34px; height: 34px; line-height: 38px; width: 30px; text-align: left; margin: 0; }

.dropcapsquare { font-size: 28px; height: 38px; line-height: 38px; width: 38px; margin-right: 7px; color: #fefefe; background: #111; text-shadow: none; border-radius: 4px;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border:none!important;}

.dropcapfancy { background: #ee802a; color: #FFF; font-family: 'Terminal Dosis','Arial',sans-serif; font-size: 22px; line-height: 35px; height: 35px; width: 35px; border-radius: 100px; 
-moz-border-radius: 100px; -webkit-border-radius: 100px; border: 2pt solid #FFF!important; -moz-box-shadow: 0 0px 3px #b7b7b7; -webkit-box-shadow: 0 0px 3px #b7b7b7; box-shadow: 0 0px 3px #b7b7b7; }

.dropcap.dark { background: #3a3a3a; color: #fff; background-image:none!important; text-shadow:none!important; }

.dropcap.green { background: #59a839; color: #fff; background-image:none!important; text-shadow:none!important; }

.dropcap.red { background: #e64135; color: #fff; background-image:none!important; text-shadow:none!important; }

.dropcap.blue { background: #72c2e7; color: #fff; background-image:none!important; text-shadow:none!important; }

.dropcap.purple { background: #954eae; color: #fff; background-image:none!important; text-shadow:none!important; }

.dropcap.grey { background: #898989;color: #fff; background-image:none!important; text-shadow:none!important; }

.dropcap.pink { background: #f26d7d; color: #fff; background-image:none!important; text-shadow:none!important; }

/* ---------------------------------------------------------------------- */
/* 10-   ALERTS 
/* ---------------------------------------------------------------------- */
div.messages.warning, div.messages.error ,div.messages.status, .simple-error,.simple-alert,.simple-notice,.simple-success,.simple-info { padding: 0.8em; margin-bottom: 1em;
border: 1px solid #ddd; }

div.messages.error, .simple-error,.simple-alert { background: #fbe3e4; border-color: #fbc2c4; color: #e64135; }

div.messages.warning, .simple-notice { background: #fff6bf; color: #514721; border-color: #ffd324; }

.simple-success, div.messages.status { background: #e6efc2; color: #264409; border-color: #c6d880; }

.simple-info { background: #d5edf8; color: #205791; border-color: #92cae4; }

div.messages.error a, .simple-error a, .simple-alert a { color: #8a1f11; }

div.messages.warning a, .simple-notice a { color: #514721; }

.simple-success a, div.messages.status a { color: #264409; }

.simple-info a { color: #205791; }

.form-item input.form-text.error { color: #e64135; text-align: left; font-size: 11px; font-style: italic; font-family: "Georgia", Verdana; }

.form-item input.form-text.success { color: #acd373; text-align: left; font-size: 11px; font-style: italic; font-family: "Georgia", Verdana; }

div.messages.status { background-image: url(../images/shortcodes/icons/success.png); background-position: 8px 8px; background-repeat: no-repeat; padding: 20px 20px 20px 70px; }

div.messages.error { background-image: url(../images/shortcodes/icons/cancel.png); background-position: 8px 8px; background-repeat: no-repeat; padding: 20px 20px 20px 70px; }

div.messages.warning { background-image: url(../images/shortcodes/icons/warning.png); background-position: 8px 8px; background-repeat: no-repeat; padding: 20px 20px 20px 70px; }

/* ---------------------------------------------------------------------- */
/* 11-   CONTACT FORM 
/* ---------------------------------------------------------------------- */ 
#contactForm .error { margin: 5px 0 0 0; display: none; }

#messages .simple-success, 
#messages .simple-error { display: none; }

#contactForm form { margin-bottom: 0px; }

#contactForm  fieldset { margin-bottom: 0px; }

#contactForm  label,
#contactForm  legend,
#contactForm  strong { font-weight: bold; font-size: 13px; color: #898989; }

#contactForm input[type="checkbox"] { display: inline; }

#contactForm label span,
#contactForm legend span { font-weight: normal; font-size: 13px; color: #444; line-height: 34px; }

#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm  input[type="email"],
#contactForm textarea,
#contactForm select { 
    border: 1px solid #dddddd; 
    padding: 5px 10px; 
    outline: none; 
    overflow: hidden; 
    font: 12px "Helvetica", Arial, sans-serif; 
    color: #777; 
    box-shadow: inset 0px 2px 4px #f3f3f3;
    -moz-box-shadow: inset 0px 2px 4px #f3f3f3; 
    -webkit-box-shadow: inset 0px 2px 4px #f3f3f3; 
    width: 278px; 
    max-width: 99%; 
    display: block; 
    margin-bottom: 10px; 
    background: #FFF; 
    border-radius: 2px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
}

#contactForm select { padding: 0; }

#contactForm  textarea { width: 598px; height: 200px; resize: vertical; }

#contactForm input[type="text"]:focus,
#contactForm input[type="password"]:focus,
#contactForm  input[type="email"]:focus,
#contactForm  textarea:focus { border: 1px solid #bbbbbb; color: #555; box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3; -moz-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
-webkit-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3; }

.caddress,
.cphone, 
.cemail { margin-bottom: 10px; -ms-word-break: break-all; word-break: break-all; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }

.caddress strong,
.cphone strong, 
.cemail strong { }

/* ---------------------------------------------------------------------- */
/* 12-   PORTFOLIO LAYOUTS
/* ---------------------------------------------------------------------- */ 

ul#portfolio-items-one-fourth { width: 100%; min-height: 300px; overflow: hidden; margin-left: 0; }

ul#portfolio-items-one-fourth li { width: 220px; margin: 0 20px 20px 0; float: left; height: 300px; overflow: hidden; }

ul#portfolio-items-one-fourth li .portfolio-item { float: left; background: #f8f9f9; width: 220px; height: auto; padding: 0; }

ul#portfolio-items-one-fourth li  .item-content { background: #615951; float: left; width: 220px; text-align: center; padding: 0px 0 15px 0; height: auto; }

#portfolio-items-one-fourth .description { padding-top: 15px; font-size: 12px; } 

ul#portfolio-items-one-fourth li .item-content:hover { background: #9dcedf; }

ul#portfolio-items-one-fourth li .item-content p { margin: 0; padding: 0; font-weight: 800; color: #FFF; }

ul#portfolio-items-one-fourth li .item-content p a { margin: 0; padding: 0; font-weight: 800; color: #FFF; }

ul#portfolio-items-one-fourth li  .item-content span { font-style: italic; color: #FFF; }

ul#portfolio-items-one-fourth li   img { width: 100%; height: auto; padding: 0; margin: 0; }

ul#portfolio-items-one-third { overflow: hidden; position: relative; list-style: none; margin: 0; padding: 0px 0 0 0; }

ul#portfolio-items-one-third li { width: 300px; min-height: 310px; } 

ul#portfolio-items-one-third li .portfolio-item { float: left; background: #f8f9f9; width: 300px; height: auto; padding: 0; }

ul#portfolio-items-one-third li .item-content { background: #615951; float: left; width: 300px; text-align: center; padding: 0px 0 15px 0; height: auto; }

#portfolio-items-one-third  .description { padding-top: 15px; }

ul#portfolio-items-one-third li .item-content:hover { background: #9dcedf; }

ul#portfolio-items-one-third li .item-content p { margin: 0; padding: 0; font-weight: 800; color: #FFF; }

ul#portfolio-items-one-third li .item-content p a { margin: 0; padding: 0; font-weight: 800; color: #FFF; }

ul#portfolio-items-one-third li .item-content span { font-style: italic; color: #FFF; } 

ul#portfolio-items-one-third li  img { width: 100%; height: auto; padding: 0; margin: 0;  }

.portfolio-container { width: 960px; margin-right: -20px; float: left; clear: both; } 

.portfolio-items { width: 960px; margin: 0; }

.portfolio-items:after { content: ""; display: block; height: 0; overflow: hidden; clear: both; }

.portfolio-items li { width: 220px; margin: 0 20px 20px 0; float: left;  height: 300px; overflow: hidden; }

.portfolio-items-not-filterable { width: 960px; margin: 0; } 

.portfolio-items-not-filterable:after { content: ""; display: block; height: 0; overflow: hidden;  clear: both; }  

.portfolio-items-not-filterable li { width: 300px;  margin: 0 20px 20px 0; float: left; height: 310px;  overflow: hidden; } 

.three-fourth .portfolio-container { width: auto; }

.filterable { display: inline; float: right; margin-bottom: 20px;  margin-right: 20px; list-style: none; }

.filterable li { float: left; margin-left: 25px; list-style: none;  }

.filterable li a { display: block;  color: #FFF; font: bold 11px arial; text-decoration: none;  text-align: center; width: 100%; height: auto; padding: 5px 5px; margin: 5px; background: #615951;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.filterable li.active a { color: #FFF; background: #9dcedf; }

.portfolio-image { margin-bottom: 20px; }

/* ---------------------------------------------------------------------- */
/* 13- BLOG LAYOUT
/* ---------------------------------------------------------------------- */

#content h1 { margin-bottom: 30px; }

.hentry { padding: 0 0 30px 0; margin: 0 0 30px 0; }

.single .hentry { margin-bottom: 0; }

.archive .hentry, .node-blog.hentry, .search .hentry { border-bottom: 1px solid #E1E1E1; }

.entry-body { margin: 10px 0 60px 0; } 

.node-blog .entry-body, .node-article .entry-body { float: left; margin: 10px 0 20px 0; width: 555px; }

.two-sidebars .node-blog .entry-body, .two-sidebars .node-article .entry-body { width: 315px; }

.no-sidebars .node-blog .entry-body, .no-sidebars .node-article .entry-body { width: 795px; }

.page-body { width: 100%; float: left; }

.readmore a, .node-readmore a{ font-size: 14px; font-family: "Georgia",Verdana; font-style: italic; background: url("../images/blog-permalink.png") left bottom no-repeat; padding-left: 15px;
-webkit-transition: all 0.2s ease,top 0ms linear; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -ms-transition: all 0.2s ease; transition: all 0.2s ease; }

.node ul.links.inline li a{ font-size: 14px; font-family: "Georgia",Verdana; font-style: italic; -webkit-transition: all 0.2s ease,top 0ms linear; -moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease; -ms-transition: all 0.2s ease; transition: all 0.2s ease; }

.readmore a:hover, .node-readmore a:hover { background: url("../images/blog-permalink.png") left top no-repeat }

.entry-meta { color: #878787; float: left; margin: 10px 20px 20px 0; text-align: center; width: 125px; font-size: 12px; line-height: 20px; }

.entry-meta div.field { display: inline-block; }

.entry-meta ul { margin: 0; }

.entry-meta li { list-style: none; margin: 0; }

.entry-meta li a.active{ color: #898989; }

.entry-meta .title { font-weight: bold; }

.node .entry-meta .field-type-taxonomy-term-reference .field-label { display:none; }

.date { width: 56px; height: auto; float: left; text-align: center; margin-right: 20px; margin-bottom: 15px; display: block; background: #9dcedf; text-shadow: 0px 1px #81bcd1; border-radius: 100px;
-moz-border-radius: 100px; -webkit-border-radius: 100px; padding: 10px 30px; border: 4pt solid #FFF; -moz-box-shadow: 0 0px 3px #b7b7b7; -webkit-box-shadow: 0 0px 3px #b7b7b7; box-shadow: 0 0px 3px #b7b7b7; }

.month { display: block; color: #FFF; }

.day, .year { display: block }

.day { font-size: 36px; color: #FFF; margin: 10px 0 15px 0; }

.year { background: url("../images/post-meta-divider.png") top repeat-x; color: #FFF; padding: 10px 0 0 0; }

.post-intro { float: left; width: 615px; }

.hentry blockquote { background: #f8f8f8 url(../images/quote.png) no-repeat 17px 21px; font: italic 15px/1.6  "Georgia", Times, 'Times New Roman', serif; padding: 20px 20px 20px 55px;
border-bottom: 1pt solid #e1e1e1; margin: 0px 0 20px 0; float: left; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

blockquote.alignleft { float: left; margin: 10px 10px 10px 0; width: 300px; }

blockquote.alignright { float: right; margin: 10px 0 10px 10px; width: 300px; }

.mediaitem { margin: 0 0 20px 0; }

.sidebar { margin: 10px 0 0 0; }

.sidebar .block { border-bottom: none; margin: 0 0 30px 0; padding: 0 0 0 0; font-size: 12px; }

.sidebar .block .content li { background: url(../images/simple-nav-arrow.png) no-repeat 0 11px; border-bottom: 1px dotted #ced8df; list-style: none; margin: 0; display: block; padding: 5px 0 5px 15px; }

.sidebar .block .content li:first-child { border-top: 1px dotted #ced8df; }

.sidebar .block a { color: #868686; }

img.fb_share_link { padding: 0px 0 0 0px; margin: 0px 5px -10px 0px; }

.pager { list-style: none; }

.pager li { display: inline; }

.item-list .pager li { display: block; float: left; padding: 4px 10px; margin:0 7px 0 0; border: 1px solid #e1e1e1;  -webkit-box-shadow: inset 0 0 10px #f5f5f5; 
-moz-box-shadow: inset 0 0 10px #f5f5f5; box-shadow: inset 0 0 10px #f5f5f5; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; color: #898989; }

.item-list .pager li.pager-current { background-color: #f5f5f5; }

.item-list .pager li.pager-current:hover { border: 1pt solid #c2c2c2; }

.widget_search { border-bottom: none; }

#search-block-form input.form-text{ background: #FFF url("../images/search-bg.png")  right no-repeat; border: none; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
width: 96%; padding: 8px 5px; color: #acacac; border-color: #88bbc8;  -moz-box-shadow: 0 0px 3px #b7b7b7; -webkit-box-shadow: 0 0px 3px #b7b7b7;  box-shadow: 0 0px 3px #b7b7b7; }

#search-block-form input.form-text:focus { -moz-box-shadow: 0 0px 3px #909090; -webkit-box-shadow: 0 0px 3px #909090;  box-shadow: 0 0px 3px #909090; }

#search-block-form input.form-submit { position: absolute; left: -1000em; } 

.screen-reader-text { position: absolute; left: -1000em; } 

.search-place { margin: 30px 0; }

.author { border-bottom: 1px solid #E1E1E1; padding: 20px; margin-bottom: 30px;  clear: both; background: #f0f0f0;  }

.author .author-gravatar { float: left;  margin: 0 20px 20px 0; }  

.author .author-description { font-style: italic; } 

#comments { clear: both;  margin: 30px 0; }

.inner-comment { margin-left: 75px; }

.comment { margin-bottom: 10px; overflow: hidden;  }

article.comment { position: relative; }

.comment .user-signature { font-style: italic; font-size: 13px; color: #BEBEBE; }

.comment-author { float: left; margin-right: 10px;  padding-bottom: 10px; }

.commentlist  ul.children { padding-left: 40px; }

.commentlist .authormeta { display: inline-block; }

.commentlist .comment-author img, .commentlist .comment-author h3, .commentlist .comment-author .datetime { float: left; line-height: 38px;  margin: 0 10px 0 0; padding: 0; }

.commentlist .comment-author .datetime { clear: none;  color: #898989; float: left;  margin-right: 0; margin-top: 4px; } 

.comment-text { background: #f5f5f5;  padding: 20px; border: 1pt solid #ebebeb; clear: left;  float: none; margin-bottom: 10px; word-wrap: break-word; }

.comment-text h3 { margin-top: 0; }

.comment-text  p { margin-bottom: 0; } 

img.avatar, .comment .user-picture img { border-radius: 100px; -moz-border-radius: 100px;  -webkit-border-radius: 100px; vertical-align: middle; } 

.comment .user-picture{ display: inline-block; }  

span.new { position: absolute;  top: 35%; right: 1%; }

.comment  cite, .comment  cite a { font-size: 18px;  line-height: 24px;  font-style: normal; text-transform: capitalize; }

.node .comment ul.links.inline { float: right;  margin: 0; }

.node .comment ul.links.inline li a { display: inline-block;  font-style: normal; font-size: 14px;  font-family: sans-serif; text-transform: capitalize;  } 

.logged-in .node .comment ul.links.inline li { padding: 0; }

.logged-in .node .comment ul.links.inline li a { margin-left: 10px; } 

#commentform label,
.form-item label { font-weight: bold;  display: block; color: #7f7f7f;  }

.form-item .description { padding: 0; height: auto;  font-size: 12px; } 

.form-item .required { color: #333;  }

.form-item .error { color: #e64135; }

#commentform input[type=text],
#commentform input[type=password],
#commentform input[type=email],
#commentform input[type=url],
#commentform input.text,
#commentform input.title,
#commentform textarea,
#commentform select,
.form-item input.form-text { background-color: #f8f8f8;  border: 1px solid #e8e8e8; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; font-size: 12px; padding: 9px 0 9px 9px;  width: 96%; }

#commentform input[type=text]:focus,
#commentform input[type=password]:focus,
#commentform input[type=email]:focus, 
#commentform input[type=url]:focus, 
#commentform input.text:focus,
#commentform input.title:focus,
#commentform textarea:focus,
#commentform select:focus,
.form-item input.form-text:focus { border-color: #c2c2c2; outline: 0; }

#commentform input[type=text],
#commentform input[type=password],
#commentform input[type=email],
#commentform input.text,
#commentform input.title,
#commentform textarea,
#commentform select,
.form-item input.form-text { margin: 5px 0; }

#commentform textarea { width: 100%; height: 180px;  padding: 4% 0; resize: none;  }  

.form-textarea-wrapper { width: 100%; } 

input#edit-keys, .page-user input.form-text, .no-sidebars #comment-form input.form-text, .no-sidebars .contact-form input.form-text { width: 50%; }

.contact-form input.form-text { width: 70%; } 

input#edit-keys { margin-right: 10px; } 

.form-textarea-wrapper textarea { background-color: #f8f8f8;  border: 1px solid #e8e8e8;   border-radius: 3px 3px 0px 0px; -moz-border-radius: 3px 3px 0px 0px; -webkit-border-radius: 3px 3px 0px 0px;
font-size: 12px; border-bottom: 1px solid #eee; height: 180px;  padding: 2% 0 4% 9px; resize: none; }

.form-textarea-wrapper textarea:focus { border: 1px solid #c2c2c2;  outline: 0; } 

.resizable-textarea .grippie { border: 1px solid #e8e8e8; border-top: none; }

#commentform input[type=submit], input[type=submit] { margin:0 10px 0 0; } 

/* alignments */
.alignleft, img.alignleft { margin: 0 24px 24px 0; display: inline; float: left; }

.alignright, img.alignright { margin-left: 24px; display: inline;  float: right; }   

.aligncenter, img.aligncenter { margin-right: auto; margin-left: auto;  display: block; clear: both; } 

/* ---------------------------------------------------------------------- */
/* 14- OTHER FEATURES LAYOUT
/* ---------------------------------------------------------------------- */
.front #banner { padding-top: 30px;}

.not-found-text { text-align: center; font-size: 100px; line-height: 100px; border-bottom: 1pt solid #E1E1E1; margin-bottom: 100px; padding-bottom: 30px; }

.intro-page h2 { text-align: center; }

.intro-page h2 strong { color: #9DCEDF; font-weight: normal; }

.intro-page { margin: 0 0 0px 0; padding: 30px 0 0 0; }

.not-front .intro-page{ padding: 0; border: none; } 

.resize img { max-width: 100%; max-height: 100%;  }

video { width: 100%; height: auto; }

ul.team-memebers li { text-align: center; float: left;  margin-right: 20px; }  

ul.team-memebers li.last { margin-right: 0px; } 

#contact-map { margin-left: -40px; width: 1020px; max-height: 100%; margin-bottom: 30px; }

#contact-map iframe { width: 100%; }

img.intro-img { margin-left: -40px;  max-width: 1020px; max-height: 100%;  margin-bottom: 30px; border-bottom: 1pt solid #d8d5cd; }

img.team-member { width: 70px; height: 70px;  border-radius: 2px; -moz-border-radius: 2px;  -webkit-border-radius: 2px; box-shadow: 0px 1px 1px #615951;  -moz-box-shadow: 0px 1px 1px #615951; 
-webkit-box-shadow: 0px 1px 1px #615951; }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

blockquote { padding: 0px 10px 0px 35px; line-height: 24px; background-image: url(../images/quote.png); background-position: 0% 10%; background-repeat: no-repeat; color: #999999; }

blockquote span { color: #666666; }

.button-holder-2 { float: right; margin-top: 5px; } 

pre, code { border: 1px solid #e1e1e1; border-left: 5px solid #e1e1e1; width: 96%; margin-bottom: 20px; padding: 2%; font-size: 11px; display: inline-block; background-color: #f5f5f5; }

.pdf { background: url(../images/shortcodes/icons/small/pdf.png) no-repeat 5px 12px; padding: 15px 10px 10px 65px; width: 125px; min-height: 48px; }

.skype-call { background: url(../images/icons/skype.png) no-repeat 5px 12px; padding: 15px 10px 10px 65px; width: 125px; min-height: 48px; }

#map { height: 275px; margin: 0px 0 30px -40px; position: relative;  width: 1020px; }

#map:before, #map:after { background: none; -webkit-box-shadow: 0 0 5px 2px rgba(54, 55, 54, 0.1); -moz-box-shadow: 0 0 5px 2px rgba(54, 55, 54, 0.1); 
box-shadow: 0 0 5px 2px rgba(54, 55, 54, 0.1); content: ''; left: 0; position: absolute; top: 0; width: 100%; }

#map:after { bottom: 0; top: auto; } 

ul.buttons li { display: list;  margin: 25px 0; } 

ul.buttons-huge li { display: list; margin: 45px 0; } 

.inner-page-intro { width: 100%; height: auto; float: left; padding: 0px 0; margin-bottom: 30px; border-bottom: 1pt solid #e1e1e1; }

.add-widget { background: url("../images/shortcodes/lists/addlist.png")left center no-repeat; background: url("../images/plus.png") left center no-repeat;
padding: 2px 2px 2px 13px; font-weight: bold; display: block; margin-top: 20px; }

.help { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #eee; padding: 20px; }

.help p { margin-bottom: 0; }

/* ---------------------------------------------------------------------- */
/* 15- DRUPAL STYLES OVERRIDE
/* ---------------------------------------------------------------------- */

ul.inline li.first { padding-left: 0; }  

.hentry ul.inline  { margin-left: 0; }

li a.active { color: #898989; }

/*fieldset*/
#page-wrapper fieldset { padding: 012px; border: 1px solid #d6d6d6; } 

#page-wrapper fieldset legend { color: #898989; padding: 0 10px; }

/*tables*/
table {  border-spacing:0;  border:0;   width:100%; }

table td,  table th {  border:none; }

table th {  background:#f0f0f0;  color:#333;  font-weight:bold; }

table tr.odd {  background:transparent; } 

table tr.even{  background:#fafafa; }

table td, table th{  padding:12px;  text-align: center; }

/* Remove table borders */
table.noborder td, table.noborder th, table.noborder tr{ border:none; }

/*primary tabs*/    
ul.primary { border-bottom: 1px solid #bbb; border-collapse: collapse; height: auto; line-height: normal; list-style: none; margin: 5px; padding: 0 0 0 1em; /* LTR */ white-space: nowrap; }

ul.primary li { display: inline; }

ul.primary li a { background-color: #ddd; border-color: #bbb;  border-style: solid solid none solid; border-width: 1px; height: auto; margin-right: 0.5em; /* LTR */ padding: 0.3em 1em 0em;
text-decoration: none; border-radius: 5px 5px 0px 0; -moz-border-radius: 5px 5px 0px 0; -webkit-border-radius: 5px 5px 0px 0; }

ul.primary li.active a { background-color: #fff; border: 1px solid #bbb; border-bottom: 1px solid #fff; }

ul.primary li a:hover { background-color: #eee; border-color: #ccc; border-bottom-color: #eee; }